<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277097641590-sbflmotvvpbh8021i6rfukg951u422bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277097641590-sbflmotvvpbh8021i6rfukg951u422bk</string>
	<key>API_KEY</key>
	<string>AIzaSyDdbcvcgKwVRbWdyxyCz10JyJDbhWfY5t8</string>
	<key>GCM_SENDER_ID</key>
	<string>277097641590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.milestoneWecare</string>
	<key>PROJECT_ID</key>
	<string>wecareapp-60f30</string>
	<key>STORAGE_BUCKET</key>
	<string>wecareapp-60f30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277097641590:ios:4a2df2aadced91ef98d157</string>
</dict>
</plist>